
.titulo { 
    color: #ffffff;
    align:center;}

.left{
    float: none;
}

.right{
    float: right;
}

 .btn{
    background-color: #00ff00;
    padding: 10px;
    border-radius: 100px 100px ;
    border: none;
    width: 20%;
    display: block;
    cursor: pointer;

    position: absolute;
    top: 50%;
    left: 0;    
}

.btn:hover {background-color: #00df00;
}



